/****Colors****
main: #252529;
secondary: #8b8b9f;
highlight: #73e298;*/

* {
  box-sizing: border-box; // so padding doesn't affect the width of the column
}

html, body {
  font-family: "Open Sans", sans-serif;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

#top-header {
  padding: 1.5em 0;
}

#top-header .logo {
  float: left;
  text-transform: uppercase;
  font-weight: 700;
}

#top-header .wrapper span {
  font-weight: 300;
  color: #73e298;
}

#top-header #main-nav {
  float: right;
  font-size: 0.9em;
  padding-top: 1em;
}

#top-header #main-nav a {
  color: #8b8b9f;
  text-decoration: none;
  margin-left: 1em;
}

#banner {
  background: url(../img/banner_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 6.5em 0;
}

#banner #banner-content-wrapper {
  width: 900px;
  max-width: 90%;
  margin: 0 auto;
  justify: flex;
  justify-content: center;
  align-items: center;
}

#banner-content-wrapper #poster {
  width: 275px;
  position: relative;
  float: left;
}

#banner-content-wrapper #poster .featured-image {
  width: 100%;
  max-width: 100%;
  border-radius: .5em;
  -webkit-box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
}

#banner-content-wrapper #poster .play-button {
  position: absolute;
  width: 80px;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -40px; /*half of the 80px width from above*/
}

#content {
  float: left;
  width: 500px;
  margin-left: 100px;
}

#content .title {
  display: inline;
}
